.row {
    margin-left: 20px;
    margin-bottom: 20px;
}

.movie_row {
    display: flex;
    /* to enable horizontal scrolling */
    overflow-x: scroll;
    
}

.movies {
    width: 100%;
    object-fit: contain;
    height: 400px;
    padding-right: 30px;
    transition: 500ms;
}

.movies:hover {
    transform: scale(1.09);
}

::-webkit-scrollbar {
    display: none;
}
